<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	
	
	<link href="/videoanalysis/static/css/ionicons_comming_soon.css" rel="stylesheet">
	
	
	<link rel="stylesheet" href="/videoanalysis/static/css/jquery.classycountdown.css" />
		
	<link href="/videoanalysis/static/css/styles_comming_soon.css" rel="stylesheet">
	
	<link href="/videoanalysis/static/css/responsive_comming_soon.css" rel="stylesheet">
	
</head>
<body>
	
	<div class="main-area-wrapper">
		<div class="main-area center-text" style="background-image:url('/videoanalysis/static/images/countdown-7-1600x900.jpg');" >
			
			<div class="display-table">
				<div class="display-table-cell">
					
					<h1 class="title"><b>Comming Soon</b></h1>
					<p class="desc font-white">Our website is currently undergoing scheduled maintenance.
						We Should be back shortly. Thank you for your patience.</p>
						
					<div id="normal-countdown" data-date="2020/12/12"></div>
					
					<a class="notify-btn" href="#"><b>NOTIFY US</b></a>
					
					<ul class="social-btn">
						<li class="list-heading">Follow us for update</li>
						<li><a href="#"><i class="ion-social-facebook"></i></a></li>
						<li><a href="#"><i class="ion-social-twitter"></i></a></li>
						<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
						<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
						<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
					</ul>
					
				</div><!-- display-table -->
			</div><!-- display-table-cell -->
		</div><!-- main-area -->
	</div><!-- main-area-wrapper -->
	
	<!-- SCIPTS -->
	
	<script src="/videoanalysis/static/js/jquery-1.11.1.min.js"></script>
	
	<script src="/videoanalysis/static/js/jquery.countdown.min.js"></script>
	
	<script src="/videoanalysis/static/js/scripts_comming_soon.js"></script>
	
</body>
</html>